<div class="container">
    <h2>Science Questions</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Question</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let quiz of Quiz; let i = index">
                <th scope="row">{{ quiz.questionNo }}</th>
                <td>{{ quiz.questionNo }}</td>
                <td>{{ quiz.question }}</td>
                <!-- <td>
                    <button type="button" class="btn btn-outline-success">View</button>
                    <button type="button" [routerLink]="['/edit-quiz/', quiz._id]" class="btn btn-outline-warning">Edit</button>
                    <button type="button" (click)="removeQuiz(quiz, i)" class="btn btn-outline-danger">Delete</button>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>