<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="../../../assets/images/History.jpeg"
                alt="History">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title">History Quiz</h4>
              <p class="card-text">Think you know a thing or two about the past? Put your smarts to the test with these history trivia questions.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="../../../assets/images/Science.png"
                alt="Science">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title">Science Quiz</h4>
              <p class="card-text">You Live, Breathe, And Eat It On The Daily, But How Much Do You Really Know About Science?</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="../../../assets/images/Sports.jpeg"
                alt="Sports">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title">Sports Quiz</h4>
              <p class="card-text">Are you a true sports expert? Click now to test your knowledge</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="../../../assets/images/Television.png"
                alt="Television">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title">Television Quiz</h4>
              <p class="card-text">Be honest, how much TV do you watch?</p>
            </div>
          </div>
        </div>
      </div>
</div>

